.projects {
    display: flex;
    height: 100vh;
    background-color: black;
    /*background: linear-gradient(#eeeeee, #000000);*/
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.mainBox {
    width: 80%;
    margin: 80px 0px;
    background-color: white;
    /*border: 2px solid #ffffff;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0px;
    color: black;

}


.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 0px 10px;
}
.image{
    height: auto;
    width: 400px;
}

@media screen and (max-width: 1000px) {
    .image{
        height: auto;
        width: 300px;
    }
}
@media screen and (max-width: 400px) {
    .image{
        height: auto;
        width: 200px;
    }
}