.projects {
    display: flex;
    min-height: 100vh;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.mainBox {
    width: 80%;
    /*margin: 80px 0px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0px;
    color: white;

}

.line {
    height: 1.5px;
    width: 90px;
    background-color: #ffffff;
    margin-top: 25px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.project {
    /*transition-delay: 0.32s;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 0px 30px;
}

.image {
    height: 300px;
    width: auto;
}

@media screen and (max-width: 1000px) {
    .image {
        height: 250px;
    }
}

@media screen and (max-width: 630px) {
    .image {
        height: 200px;
    }
}

@media screen and (max-width: 490px) {
    .image {
        height: 150px;
    }
    .projects {
        min-height: 80vh;
    }
}

@media screen and (max-width: 390px) {
    .image {
        height: 100px;
    }

    .projects {
        min-height: 60vh;
    }
}

@media screen and (max-width: 275px) {
    .image {
        height: 80px;
    }
}