.slogan {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*@media screen and (max-width: 780px) {*/
/*    .slogan {*/
/*        height: 300px;*/
/*    }*/
/*}*/
