
.btn{
    cursor: pointer;
    width: 180px;
    height: 36px;
    background: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Caladea', serif;
    font-stretch: normal;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    outline: none;
    position: relative;

}


.btn::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 1.5px;
    background: white;
    bottom: 0;
    z-index: -1;
}

.btn:hover::after{
    height: 100%;
    width: 100%;
    transition: 0.6s;
}

.btn:hover{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 850px) {
    .btn {
        width: 150px;
    }
}

@media screen and (max-width: 450px) {
   .btn {
        font-size: 15px
    }
    .btn::after{
        display: none;
    }
}