.main {
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    background-image: url("../../common/pr.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat
}

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
}

.info span:nth-child(1) {
    font-size: 30px;
}


.stl {
    position: relative;
    font-size: 50px;
    letter-spacing: 4px;
    z-index: 0;
}

.stl:before {
    content: '';
    position: absolute;
    width: 620px;
    height: 15px;
    z-index: -1;
    bottom: 0px;

}

.photo img {
    height: 750px;
    width: auto;

}

@media screen and (max-width: 1345px) {
    .main {
        font-size: 40px;
    }

    .photo:before {
        border: 5px solid rgba(232, 170, 245, 0.6);
        height: 400px;
        width: 270px;
        left: 5px;
        top: -10px;
    }

    .main .info,
    .main .stl,
    .info span:nth-child(1) {
        font-size: 25px;
    }

    .stl:before {
        width: 350px;
        height: 8px;
    }

}

@media screen and (max-width: 431px) {
    .photo img {
        height: 300px;
    }

    .stl:before {
        width: 170px;
    }

    .main {
        font-size: 20px;
    }

    .photo:before {
        height: 300px;
        width: 200px;
    }
}
