.skills{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgba(128, 248, 255, 0.36);
    }

.head{
    width: 80%;
    border: 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column ;
    justify-content: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    align-items: center;
    flex-direction: column ;

}

.item img{
    width: 200px;
    height: auto;
}