.skills{
    display: flex;
    height: 100vh;
    background-color: rgba(128, 248, 255, 0.36);
    justify-content: center;
    }

.head {
    width: 80%;
    border: 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item img{
    width: auto;
    height: 150px;
}


@media screen and (max-width: 400px) {
    .item img{
        height: 100px;
    }
}