.header{
    height: 60px;
    background-color: rgba(128, 248, 255, 0.36);
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

