.footer{
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    color: black;

}
.b{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

}

.icon{
height: 60px;
}

.a{
    margin-bottom: 25px;
}

@media screen and (max-width: 495px) {
    .icon{
        height: 60px;
    }
  .a{font-size: 12px}
}