a {
    color: white;
    text-decoration: none;

}

.nav {
    width: 70%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    list-style: none;
}


.menu {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    text-decoration: none;
}

.high {
    display: none;
}


.burgerMenu {
    display: none;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}


@media screen and (max-width: 700px) {
    .link {
        font-size: 18px;
    }
}

@media screen and (max-width: 605px) {
    .link {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .burgerMenu {
        display: flex;
        flex-direction: column-reverse;
    }

    .high {
        display: block;
        text-align: right;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .link{
        border: 1px solid #727272;
        border-radius: 20px;
        padding: 2px;
        width: 100px;
        margin: 2px;
    }

    .n {
        display: flex;
        width: 100%;
    }
}

