.contacts {
    height: 100vh;
    background-color: rgb(77, 35, 107);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;

}

.formInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

textarea{
    resize: none;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

@media screen and (max-width: 850px) {
    .formInput {
        width: 80%;
    }
}