.contacts {
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainBox {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
}

.formInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.cont {
    margin: 25px 0px;
}

textarea {
    resize: none;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

@media screen and (max-width: 850px) {
    .formInput {
        width: 90%;
    }
    .contacts {
        height: 80vh;}
}

@media screen and (max-width: 450px) {
    .contacts {
        font-size: 12px;
        height: 60vh;
    }
}